html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray500: hsl(217, 12%, 63%);
  --orange: hsl(25, 97%, 53%);
  --gray850: hsl(213 19% 21% / 1);
  --gray900: hsl(213 19% 18%);
}

.d-flex-center-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  background-color: hsl(216, 12%, 8%);
}

main {
  flex: 1;
  max-width: 45rem;
  margin: 0 2rem;
  background-image: linear-gradient(
    to bottom,
    hsl(215, 20%, 15%) 40%,
    hsl(215 25% 13% / 1)
  );
  border-radius: 30px;
}

.feedback {
  padding: 3.5rem;
}

@media (max-width: 500px) {
  .feedback {
    padding: 3rem 2rem;
  }
}

.feedback .star {
  width: 5rem;
  height: 5rem;
  background-color: var(--gray850);
  border-radius: 50%;
}

@media (max-width: 500px) {
  .feedback .star {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 500px) {
  .feedback .star img {
    width: 1.6rem;
  }
}

.feedback h1 {
  margin: 4rem 0 1.5rem;
  color: white;
  font-size: 3rem;
}

@media (max-width: 500px) {
  .feedback h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.feedback .desc {
  color: var(--gray500);
  max-width: 38.5rem;
  line-height: 1.6;
}

@media (max-width: 500px) {
  .feedback .desc {
    font-size: 1.4rem;
  }
}

.feedback ul {
  list-style: none;
  height: 5.5rem;
  margin: 2.5rem 0 3.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

@media (max-width: 400px) {
  .feedback ul {
    height: 4.5rem;
  }
}

@media (max-width: 500px) {
  .feedback ul {
    margin: 2rem 0;
  }
}

.feedback ul li {
  width: 5.5rem;
  background-color: hsl(210deg 22.29% 19.44%);
  color: var(--gray500);
  border-radius: 50%;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color;
}

@media (max-width: 400px) {
  .feedback ul li {
    width: 4.5rem;
  }
}

.feedback .active {
  background-color: white;
  color: black;
}

@media (min-width: 768px) {
  .feedback ul li:hover {
    background-color: var(--orange);
    color: black;
  }
}

@media (max-width: 500px) {
  .feedback ul li {
    font-size: 1.6rem;
  }
}

.feedback .submit {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--orange);
  border: none;
  border-radius: 40px;
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s background-color;
}

@media (max-width: 500px) {
  .feedback .submit {
    font-size: 1.5rem;
  }
}

.feedback .submit:hover {
  background-color: white;
}

@media (max-width: 500px) {
  .feedback .submit {
    padding: 1.2rem;
  }
}

.feedback .submit-error {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: red;
}

.after-submit {
  transition: 1s;
  text-align: center;
  padding: 5rem 4rem;
}

@media (max-width: 500px) {
  .after-submit {
    padding: 3rem;
  }

  .after-submit img {
    width: 14rem;
  }
}

.after-submit .rating {
  width: fit-content;
  margin: 3.5rem auto 0;
  background-color: var(--gray850);
  color: var(--orange);
  padding: 0.9rem 2.8rem;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 500px) {
  .after-submit .rating {
    padding: 0.8rem 2.5rem;
    margin-top: 2.8rem;
  }
}

.after-submit h2 {
  margin: 4rem 0 1.5rem;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .after-submit h2 {
    font-size: 3rem;
    margin-top: 3rem;
  }
}

.after-submit .thanks-msg {
  color: var(--gray500);
  max-width: 36rem;
}
